
@model bool

@{
    ViewData["Title"] = "Tree";

}

@if (!Model)
{
    <a class="btn btn-primary" asp-area="" asp-controller="Node" asp-action="Create">New</a>
}


<div id="nodes"></div>


@section Scripts {
    <script src="~/js/node.js"></script>
}